<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../img/logo-black.png" />
  <title>Obrigado - Conexão por Créditos</title>
  <link rel="stylesheet" href="../css/obrigado.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
    <!-- MENU LATERAL -->
  <nav class="side-menu" id="side-menu">
    <a href="/conta">MINHA CONTA</a>
    <a href="/">INÍCIO</a>
    <a href="/sobrenos">SOBRE NÓS</a>
    <a href="/comofunciona">COMO FUNCIONA</a>
    <a href="/servicos">SERVIÇOS DE TROCA</a>
    <a href="/saibamais">SAIBA MAIS</a>
    <a href="/noticia">NOTÍCIAS</a>
  </nav>
  
  <!-- SOBREPOSIÇÃO DO MENU (FUNDO ESCURO) -->

  <script src="../js/menu.js"></script>
  </header>

<body>
  <!-- Seção Hero -->
  <header class="hero">
    <section class="navbar">
      <a href="/"><img src="../img/logo-white.png" alt="Logo CPC" class="logo"></a>
      <section class="icons">
        <a href="/conta"><img src="../img/img perfil-white.png" alt="Usuário" class="icon"></a>
        <img src="../img/img menu-white.png" class="icon" id="btnMenu" alt="Abrir menu">
</section>
  
  <!-- SOBREPOSIÇÃO DO MENU (FUNDO ESCURO) -->
    </section>
    <section class="hero-text">
      <h1>OBRIGADO<br>POR TROCAR</h1>
    </section>
  </header>

  <!-- Seção Principal -->
  <main class="content">
    <img src="../img/logo-black.png" alt="Logo CPC Preto" class="main-logo">
    <h2>Conexão por Créditos</h2>
    <a href="/"><button class="btn">Voltar para Página Inicial</button></a>
  </main>

  <br>
  <br>
  <br>
</body>

<%- include('../partials/footer.ejs') %>
</html>